@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: #00f260; 
  background: -webkit-linear-gradient(
    to right,
    #0575e6,
    #00f260
  ); 
  background: linear-gradient(
    to right,
    #0575e6,
    #00f260
  ); 
  display: flex;
  height: 100vh;
  align-items: center;
}



.card-wrap {
  display: table;
  width: 350px;
  margin: auto;
  position: relative;
}
.card {
  border-radius: 8px;
  height: 200px;
  position: relative;
  color: #ccc;
  font-family: "Ubuntu Mono", monospace;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.5);
  background: #004768;
  background: -moz-linear-gradient(left, #004768 0%, #00325b 100%);
  background: -webkit-linear-gradient(left, #004768 0%, #00325b 100%);
  background: linear-gradient(to right, #004768 0%, #00325b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004768', endColorstr='#00325b',GradientType=1 );
}
.card-back {
  transform: rotateY(180deg);
  /* transform: rotateY(90deg); */
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.card-wrap:hover .card-front {
  transform: rotateY(180deg);
  opacity: 0;
}
.card-wrap:hover .card-back {
  transform: rotateY(0);
  opacity: 1;
}
.flag {
  width: 28%;
  top: 0;
  right: 0;
  height: 70px;
  position: absolute;
  border-top-right-radius: 8px;
}
.flag img {
  width: 100%;
  height: auto;
}
.label {
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 5px;
}
.value {
  text-transform: uppercase;
  font-size: 18px;
}
.number {
  font-size: 24px;
  line-height: 1;
  position: absolute;
  top: 80px;
  left: 15px;
}
.number span {
  margin-right: 10px;
  display: inline-block;
}
.owner-data {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 0 0 8px 8px;
}
.validate {
  text-align: center;
}
.bar {
  background-color: #ccc;
  height: 40px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50px;
}
.secret-code {
  position: absolute;
  top: 100px;
  right: 15px;
}
.animate {
  -webkit-transition: transform 0.9s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: transform 0.9s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: transform 0.9s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.9s cubic-bezier(0.215, 0.61, 0.355, 1);
}
